# config file for ansible -- http://ansible.com/
# ==============================================

[defaults]

library        = /usr/share/ansible
remote_tmp     = $HOME/.ansible/tmp

timeout        = 10
pattern        = *
forks          = 5
poll_interval  = 15

transport      = smart
remote_port    = 22
remote_user    = root
ask_pass       = False

sudo_exe       = sudo
sudo_user      = root
ask_sudo_pass  = False

hostfile       = hosts
roles_path     = roles

# set plugin path directories here, seperate with colons
action_plugins     = /usr/share/ansible_plugins/action_plugins
callback_plugins   = /usr/share/ansible_plugins/callback_plugins
connection_plugins = /usr/share/ansible_plugins/connection_plugins
lookup_plugins     = /usr/share/ansible_plugins/lookup_plugins
vars_plugins       = /usr/share/ansible_plugins/vars_plugins
filter_plugins     = /usr/share/ansible_plugins/filter_plugins

# format of string {{ ansible_managed }} available within Jinja2
# templates indicates to users editing templates files will be replaced.
# replacing {file}, {host} and {uid} and strftime codes with proper values.
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}

[accelerate]
accelerate_port = 5099
accelerate_timeout = 30
accelerate_connect_timeout = 5.0
